header {
  background-color: #007BFF;
  color: white;
  overflow: hidden;
  height: 75px;
}

button {
  background-color: #007BFF;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.logoutbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #000000;
  right: 10px;
  top: 15px;
  margin-right: 16px;
  margin-top: 20px;
}

.listbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #F8F9FA;
  color: black;
  right: 10px;
  top: 15px;
  margin-right: 10px;
  margin-top: 20px;
}

.listbtn-active {
  width: auto;
  padding: 10px 18px;
  background-color: #FF8C00;
  color: black;
  right: 10px;
  top: 15px;
  margin-right: 10px;
  margin-top: 20px;
}

.listbtns {
  display: inline-block;
  margin-right: 100px;
}

body {
  background: #777
}

.header-container {
    width: 100%;
    .title {
        float: left;
    }
    .navigationbtns {
        float: right;
    }
}
nav{
    white-space: nowrap;
    .btn{
        display: inline-block;
    }
}
