header {
  background-color: #007BFF;
  color: white;
  overflow: hidden;
  height: 75px;
}

button {
  background-color: #007BFF;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.logoutbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #000000;
  position: fixed;
  right: 10px;
  top: 15px;
}
